*{
    margin: 0;
    padding: 0;
}
.sidenav{
    background-color: #1746A2;
    height: 100vh;
    width: 24%;
    position: fixed;
    border-right: 10px #FF731D solid;
}
.sidenav ul{
    padding-top: 30px;
    margin-left: 40px;
    list-style: none;
    font-size: 40px;
    color: white;
}
ul li{
    padding-top: 45px;
}
a{
    color: white;
    text-decoration: none;
}
.main{
    margin-left: 26%;
  
    
}
.box-parent{
    padding-top: 20px;
    
}
.box{
    width: 300px;
    height: 200px;
    background-color: lightblue;
    
    
}
#box1{
    border-bottom: 8px red solid;   
}
#box2{
    border-bottom: 8px yellow solid;
}
#box3{
    border-bottom: 8px blue solid;
}




@media  screen and (max-width: 600px) {
  .parrent-box{
    display: grid;
    grid-template-rows: repeat(2 200px);
  }  
}